

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  background-color: #ffffff;
}
 
a {
  color: #0BCEAF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}
 
h1,h2,h3,h4,h5,h6,p{
  color: #020202 !important;
} 

 

/********** Template CSS ************/


.text-stroke-header {
  -webkit-text-stroke: 3px #ffffff;
  color: transparent;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}

.form-control {
  border-radius: 25px;
}




/* ================ Navigation Menu ====================*/

.navbar {
  position: relative;
  background: rgb(110, 83, 83);
}

.navbar a{
  position: relative;
}

#navlist {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  /* margin-left: 100px; */
  /* background: black; */
}

#navlist li {
  flex: auto;
  text-align: center;
  padding: 1.6em;
  font-size: 18px;
  color: white;
  margin-left: 200px;
}

#navlist li:hover {
  background: red;
}

#toggle-nav {
  display: none;
  margin: auto;
  cursor: pointer;
}

@media all and ( max-width: 500px ) { 

  .navbar {
      padding: 1.6em;
  }

  #navlist {
      flex-direction: column;
      display: none;
  }

  #toggle-nav {
      display: block;
      color: white;
  }

}

/* 

.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0BCEAF;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}  */


/*===================== Hero section ======================*/

.about-img{
 margin-left: -100px;
 right: -60px;
}

.display-1{
  font-size: 160px;
  font-weight: 1000;
  
}
 
.position-absolute{
  font-weight: 700;
  
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}

.blue{
  background-color: #1c5ce6;
  color: #ffffff;
}
.btn{
  border: 2px solid rgb(29, 105, 247);
} 
.btn-white{
  background-color: #ffffff;
  border:2px solid #ffffff;
}
.btn-blue{
  border: 2.4px solid #ffffff;
  color: #ffffff;
}
@media (max-width: 700px) {
  .about-img{
    margin-left: 20px;
    right: 0px;
    top: 30px;
   }
}

/* =================== Queality ======================*/
.ex-me{
  margin-top: 35px;
}


/* =================== Service Section ==================*/
.service-h4{
  padding-bottom: 30px;
}

.service-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}

.service-box{
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
  margin-left: 20px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.service-box:hover{
  box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
 
}
